* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --backgrond-clr: #000000;
  --text-clr: #fef7e2;
  --ft: "Roboto", sans-serif;
}

body {
  height: 100%;
  background-color: var(--backgrond-clr);
  color: var(--text-clr);
  font-family: var(--ft);
}

a {
  text-decoration: none;
  color: inherit;
  font-family: var(--ft);
}

ol,
li {
  list-style-position: inside;
}

main {
  display: grid;
  place-items: center;
}

.container {
  width: 50rem;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: end;
  height: 5rem;
}

.navbar ul {
  list-style: none;
}

.info--container h1,
.info--container h2 {
  font-weight: 400;
}

.info--container h1 {
  font-size: 3rem;
}

.info--container h2 {
  font-size: 1.5rem;
  margin: 0.5rem 0;
}

.link--container {
  background-color: #332805;
  padding: 1.5rem;
  border-radius: 20px;
}

.link--container ol {
  display: grid;
  gap: 0.8rem;
  font-size: 1.25rem;
  width: 100%;
}

.link--container ol a::after {
  content: " ↗";
}

.link--container ol a {
  position: relative;
}

.link--container ol a::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 2px;
  background-color: #eab308;

  transform: scaleX(0);
  transform-origin: right;
  transition: transform 250ms ease-in;
}

.link--container ol a:hover::before,
.link--container ol a:focus::before {
  transform: scaleY(1);
  transform-origin: left;
}

@media (max-width: 800px) {
  .container {
    width: 100%;
    padding: 1rem;
  }
  .info--container h1 {
    font-size: 2.25rem;
  }

  .info--container h2 {
    font-size: 1rem;
  }
}
